@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0 auto;
    margin-right: 0 auto;


}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* body {
        overflow: auto;
    overflow-x: hidden;
} */

/* .search-form {
    margin-right: 0;
    margin-left: 0;
} */