.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .gallery-cards {
    padding: 60px 0;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    /* width: 600px; */
    margin: 0 auto;

    position: fixed;
    top: 10px;
    text-align: center;
    transform: translate(37%, 0);

  }
  
  input {
    height: 40px;
    flex-grow: 1;
    font-size: 18px;
    padding-left: 15px;
    border: 1px solid #303030;

    width: 600px;
  }
  
  button,
  .load-more {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 250ms linear;
  }
  
  .load-more {
    display: block;
    margin: 0 auto;
  }

  button:hover,
button:focus,
.load-more:hover,
.load-more:focus {
  background-color: #27ae60;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
  margin-bottom: 60px;
  margin-top: 40px;


}

.photo-card {
  width: calc((100% - 60px) / 3);
}

.info {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .info b {
    font-size: 11px;
    display: block;
  }
  
  .info-item {
    width: calc((100% - 5px) / 4);
    text-align: center;
  }
  
  // arrow top
  .arrow-top {
    position: fixed;
    bottom: 45px;
    right: 45px;
  
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #303030;
    border-radius: 50%;
    color: #ffffff;
  }
  
  .arrow-top.is-hidden {
    display: none;
  }

  